<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/config.xsd">
    <default>
        <logviewer>
            <general>
                <enabled>1</enabled>
                <lines_count>50</lines_count>
            </general>
        </logviewer>
    </default>
</config>