<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Catalog\Model\Product">
        <plugin name="simple_product_name_plugin"
                type="Pankaj\SimplePlugin\Plugin\ProductNamePlugin"/>
    </type>

    <type name="Pankaj\SimplePlugin\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">plugin_logger</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">
                    Pankaj\SimplePlugin\Logger\Handler
                </item>
            </argument>
        </arguments>
    </type>


</config>
